@use './../../style/common.scss';

.main_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 0.3s;
    cursor: pointer;

    .decor{
        height: 29px;
        width: 29px;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &.main {
        padding: 0 20px;
        height: 40px;
        gap: 10px;
        font-size: 16px;
        border: 1px solid var(--black);
        border-radius: 8px;
        background-color: transparent;

        @include common.mediaMinWidth(992) {
            &:hover {
                background-color: var(--black);
                color: var(--white);
            }
        }

        &.green {
            border-color: var(--green);
            color: var(--green);

            & .decor {
                background-color: var(--green);
            }

            @include common.mediaMinWidth(992) {
                &:hover {
                    background-color: var(--green);
                    color: var(--white);
                }
            }
    
        }
    }

    &.full {
        width: 100%;
    }

    &.square {
        width: 40px;
        height: 40px;
        border-radius: 8px;

        &.white {
            background-color: var(--white);
        }

        &.black {
            background-color: var(--black);
        }
    }

    &.round {
        height: 40px;
        width: 40px;    
        border-radius: 50%;
        background-color: var(--black);
    }
}