@use './../../style/common';

.social {
    display: flex;
    align-items: center;
    gap: 17px;

    &.black {
        & svg path {
            fill: var(--white);
        }
    }

    &.white {
        & svg path {
            fill: var(--black);
        }
    }
}